/* 
table {
    background: #EEEAE0;
}
td{
    border: 5px solid #EEEAE0;
    padding: 10px;;
}
tbody{
    background: #FFD8BF;
} */
table{
    background: #EEEAE0;
    padding: 20px;
    color: #656670;
    border-radius: 20px;
}
tbody td{
    background: #FFD8BF;
}
td{
    padding: 10px;
    width: 80px;
    border: 2px solid #EEEAE0;
}
.code_1{
    width: 155px;
}
caption{
margin-bottom: 10px;
text-align: left;
}
